<div class="topic-index-wrapper">
  <div class="container">
    <% @favorite_topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
          
            <h4 class="topic-author">
              <%= topic.title.present? ? topic.title : "タイトルなし" %>
            </h4>

            <%= image_tag topic.image.url %>

            <div class="inner-row">
              <div class="topic-author">
                投稿者　：<%= topic.user.name %>
              </div>
              <div class="topic-createddate">
                投稿日時：<%= topic.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </div>
            </div>

            <div class="inner-row">
              <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                <i class="far fa-heart fa-2x topic-index-icon"></i>
              <% end %>
              <% else %>
                <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                  <i class="fas fa-heart fa-2x topic-index-icon"></i>
                <% end %>
              <% end %>
              <label>
                <%= topic.favorite_users.count %>
              </label>        
              <%= image_tag 'icons/comment.png', class: 'add-comment topic-index-icon' %>
            </div>

            <p class="topic-text">
              <%= topic.description %>
            </p>

            <div class="comment-area">
              <h4 class="comment-title">コメント</h4>
              <% comments = topic.comments %>
               <div class="comment-body-area">
                <% if comments.present? %>
                  <% comments.each do |comment| %>
                    <p class="comment-body">
                      <%= comment.body %>
                    </p>
                  <% end %>
                <% else %>
                  <p class="comment-body">
                  <%= "コメントはありません" %>
                </p>
                <% end %>
               </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>