<h4 class="comment-title">コメント</h4>
<% comments = topic.comments %>
<div class="comment-body-area">
<% if comments.present? %>
    <% comments.each do |comment| %>
    <p class="comment-body">
        <%= comment.body %>
    </p>
    <% end %>
<% else %>
    <p class="comment-body">
    <%= "コメントはありません" %>
</p>
<% end %>
</div>

<%= form_for Comment.new, remote: true do |f| %>
<div class="form-group comment-form">
    <%= f.text_area :body, class: 'form-control' %>
    <%= f.submit 'コメントする', class: 'btn btn-black btn-block' %>
    <%= f.hidden_field :topic_id, :value => topic.id %>
</div>
<% end %>
